h1 {
  color: orange;
}

h2 {
  color: purple;
}

ul {
  list-style-type: square;
}

.roman {
  list-style-type: upper-roman;
  color: purple;
  text-decoration: underline;
}

.nonpurple {
  color: black;
  text-decoration: underline;
}